.form {
    width: 1200px;
    margin: 120px auto 30px;
    box-shadow: inset 0px 4px 100px 1000px rgba(31, 29, 52, 0.68);
    @include flex(column, center, space-between, 0px);
    &__img {
        letter-spacing: 0.05em;
        color: #E0CD2B;
        font-family: $spongebob-font;
        font-size: 62px;
        padding: 10px 20px;
        height: 547px;
        width: 100%;
        border: 10px solid #FFFFFF;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 0px;
        background-image: url(../../assets/img/form.png);
        box-shadow: inset 0px 4px 100px 1000px rgba(31, 29, 52, 0.18);
        @include flex(column, flex-start, end, 0px);
    }

    &__data {
        min-height: 600px;
        padding: 30px;
        width: 100%;
        background-color: #552898;
        border: 10px solid #FFFFFF;
        border-radius: 0px 0px 10px 10px;
    }

    &__fieldset {
        width: 100%;
    }

    &__list {
        @include flex(column, flex-start, space-between, 10px);
        &--checkbox {
            margin-top: 10px;
            width: 100%;
            @include flex(row, stretch, space-between, 10px);
        }
    }

    &__error-text {
        width: 150px;
        text-align: end;
        color: rgba(255, 119, 119, 0.858);
    }

    &__item {
        font-family: 'Arimo';
        width: 100%;
        color: #fefefe;
        display: flex;
        gap: 20px;


        &--checkbox {
            @include flex(row, stretch, start, 10px);
        }
    }

    &__label {
        min-width: 150px;
    }

    &__select,
    &__input {
        padding: 5px 10px;
        width: 253px;
    }

    &__submit {
        padding: 10px 25px;
        background-color: #ffffffd5;
        color: black;
        margin: 0 auto;
    }
}

.switcher__wrapper {
    @include flex(row, stretch, start, 10px);
}

.switcher {
    width: 100%;
    @include flex(column, flex-start, space-between, 10px);
}

.form-container {
    width: 653px;
    margin: 0 auto;
    background-color: #ffffff2e;
    box-shadow: inset 0px 4px 100px 1000px rgba(31, 29, 52, 0.18);
    padding: 30px;
    @include flex(column, center, center, 0px);
}

.switcher__input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switcher__label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.switcher__label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.switcher__input:checked + label {
	background: #e9c43e;
}

.switcher__input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.switcher__label:active:after {
	width: 50px;
}